= javascript_include_tag '/lib/touch/sencha-touch-debug','/lib/touch/pkgs/platform/mvc'
#sencha-app
  = javascript_include_tag '/app/routes','/app/app'
  #sencha-models
    = javascript_include_tag '/app/models/Note'  
  #sencha-views
    = javascript_include_tag '/app/views/List','/app/views/Editor'
  #sencha-controllers