= javascript_include_tag '/lib/touch/sencha-touch-debug','/lib/touch/pkgs/platform/mvc'
#sencha-app
  = javascript_include_tag '/app/routes','/app/app'
  #sencha-views
    = javascript_include_tag '/app/views/Viewport'
  #sencha-models
  #sencha-controllers