.x-tablet .x-list, .x-desktop .x-list {
  border-right: 1px solid #000;
}

.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.list-item-narrative
{
    float:left;
    width:100%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.x-item-selected .list-item-title 
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}
#login > div {
    background-color: #8EC2DA !important;
}

#login form > div {
    background-color: #8EC2DA !important;
}
