= javascript_include_tag '/lib/touch/sencha-touch-debug','/lib/touch/pkgs/platform/mvc'
#sencha-app
  = javascript_include_tag '/app/routes','/app/appLogin'
  #sencha-views
    = javascript_include_tag '/app/views/Login'
  #sencha-models
  #sencha-controllers
    = javascript_include_tag '/app/controllers/LoginController'  