$body-bg-color: #000;
 
$base-color: #333;
$base-gradient: 'matte';
$active-color: #B2DF1E;
 
$tabs-dark: $base-color;
$tabs-light: #555;
 
$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';
 
$toolbar-gradient: 'glossy';

@import 'touch/resources/themes/stylesheets/sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-loading-spinner;
@include sencha-list-pullrefresh;

.x-toolbar .x-toolbar-title {
    color: saturate(lighten($active-color, 10%), 20%);
    text-shadow: rgba(#fff, .8) 0 1px 20px;
}
 
.x-tab-active img {
    background: white none !important;
}
 
.x-tabbar.x-docked-bottom .x-tab {
    .x-tab-active {
        -webkit-box-shadow: inset rgba(#000, .8) 0 0 5px !important;
    }
}
 
.x-tablet .x-list, .x-desktop .x-list {
  border-right: 1px solid #000;
}

.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.list-item-narrative
{
    float:left;
    width:100%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}

.x-item-selected .list-item-title 
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}
#login > div {
    background-color: #8EC2DA !important;
}

#login form > div {
    background-color: #8EC2DA !important;
}
